[core]
    symlinks = true
    excludesfile = ~/.gitignore_global
    editor = vim    # No /usr/bin/vim
	autocrlf = input
	eol = lf
[user]
    name = aseom
    email = hm9599@gmail.com
[credential]
	helper = osxkeychain
[credential "https://github.com"]
	username = aseom
