[submodule "vender/zsh-syntax-highlighting"]
	path = vender/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "vender/zsh-completions"]
	path = vender/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "vender/zsh-async"]
	path = vender/zsh-async
	url = https://github.com/mafredri/zsh-async.git
[submodule "vender/pure"]
	path = vender/pure
	url = https://github.com/sindresorhus/pure.git
[submodule "vender/fzf"]
	path = vender/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "vender/z"]
	path = vender/z
	url = https://github.com/rupa/z.git
