"*":
  "atom-terminal":
    app: "iTerm.app"
    surpressDirectoryArgument: false
  "autocomplete-plus":
    minimumWordLength: 2
  "autocomplete-python":
    triggerCompletionRegex: "([a-zA-Z_][a-zA-Z0-9_]+)"
  core:
    customFileTypes:
      "text.xml.plist": [
        "plist"
      ]
    disabledPackages: [
      "metrics"
      "exception-reporting"
      "background-tips"
    ]
    ignoredNames: [
      "*.pyc"
      ".dropbox*"
      ".DS_Store"
      "Thumbs.db"
    ]
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  editor:
    fontFamily: "Input Mono Narrow, D2Coding"
    scrollPastEnd: true
    scrollSensitivity: 20
    tabLength: 4
    tabType: "soft"
  "file-icons":
    coloured: false
  "git-projects":
    maxDepth: 1
    rootPath: "~;~/Dropbox/GitHub"
    sortBy: "Latest modification date"
  minimap:
    charHeight: 3
    scrollAnimation: true
  "one-dark-ui":
    fontSize: 12
    layoutMode: "Compact"
    tabSizing: "Even"
  "one-light-ui":
    fontSize: 12
    layoutMode: "Compact"
    tabSizing: "Even"
  "package-sync":
    forceOverwrite: true
  pigments:
    markerType: "dot"
  tabs:
    enableVcsColoring: true
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
