"*":
  "autocomplete-plus":
    confirmCompletion: "enter"
    minimumWordLength: 2
    useCoreMovementCommands: false
  core:
    customFileTypes:
      "text.xml.plist": [
        "plist"
      ]
    disabledPackages: [
      "metrics"
      "exception-reporting"
      "background-tips"
    ]
    ignoredNames: [
      "*.pyc"
      ".dropbox*"
      ".DS_Store"
      "Thumbs.db"
    ]
    themes: [
      "one-dark-ui"
      "one-dark-vivid-syntax"
    ]
  editor:
    fontFamily: "Fira Mono, D2Coding"
    scrollPastEnd: true
    scrollSensitivity: 20
    tabType: "soft"
  "file-icons":
    coloured: false
  "git-plus":
    includeStagedDiff: false
    wordDiff: false
  "git-projects":
    maxDepth: 1
    rootPath: "~;~/Dropbox/GitHub"
    sortBy: "Latest modification date"
  minimap:
    charHeight: 3
    displayPluginsControls: false
    scrollAnimation: true
  "one-dark-ui":
    fontSize: 12
    layoutMode: "Compact"
    tabSizing: "Even"
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
