# You can find more information about keymaps in these guides:
# * https://atom.io/docs/latest/using-atom-basic-customization#customizing-key-bindings
# * https://atom.io/docs/latest/behind-atom-keymaps-in-depth

'atom-workspace':
  'f1': 'nvatom:toggle'
  'cmd-t': 'git-projects:toggle'
  'shift-cmd-t': 'git-projects:toggle-add'
  'shift-cmd-i': 'link:open'

'atom-text-editor':
  'shift-cmd-k': 'editor:delete-line'
  'shift-cmd-m': 'markdown-preview:toggle'
