@import "syntax-variables";

// For One Light UI
.theme-one-light-ui {
  .tree-view {
    .list-nested-item > .list-tree > li,
    .list-nested-item > .list-group > li {
      padding-left: 12px;
    }
  }
}

// For One Light Syntax
.theme-one-light-syntax {
  atom-text-editor::shadow .selection .region {
    background-color: darken(@syntax-selection-color, 3%);
  }
}

// The text editor
atom-text-editor {
  -webkit-text-stroke: 0.01px;

  &::shadow {
    // Makes the cursor pulse
    .cursor {
      transition: opacity 0.2s;
    }
    // Show invisibles only in cursor line
    .invisible-character {
      opacity: 0;
    }
    .cursor-line .invisible-character {
      opacity: 1;
    }
    // The scrollbar is not necessary because we have the minimap!
    .vertical-scrollbar {
      display: none;
    }
  }
}
