<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.nicknish.openiniterm</string>
	<key>connections</key>
	<dict>
		<key>218DEA89-3AE7-4293-85D8-714FE28947E9</key>
		<array/>
		<key>769577F3-91AF-49E8-921F-C2E84344E2A2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>218DEA89-3AE7-4293-85D8-714FE28947E9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E3D54CC9-2C8D-4F82-88B1-57F3D21E1BAD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>218DEA89-3AE7-4293-85D8-714FE28947E9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Nick Nish</string>
	<key>description</key>
	<string>Opens iTerm Window/Tab to Specified Folder</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open folder in iTerm</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>cd in iTerm</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>E3D54CC9-2C8D-4F82-88B1-57F3D21E1BAD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>cd</string>
				<key>scopes</key>
				<array/>
				<key>subtext</key>
				<string>iTerm</string>
				<key>title</key>
				<string>cd into folder in iTerm</string>
				<key>types</key>
				<array>
					<string>public.folder</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>769577F3-91AF-49E8-921F-C2E84344E2A2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/iTerm.app</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>218DEA89-3AE7-4293-85D8-714FE28947E9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Thanks for trying out my workflow!

USAGE: cd 'foldername'

ex. To open the `sampleapp` folder at /Users/userName/Development/sampleapp:
cd sampleapp

Using the default Terminal?
---------------------------------------------------------------
Open the workflow, double click the 'Open file' action and drag your program to the open area. Good luck!

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Also, a big thank you to Alex Meijer, whom my workflow is remixed from and who has a great collection of workflows as well.</string>
	<key>uidata</key>
	<dict>
		<key>218DEA89-3AE7-4293-85D8-714FE28947E9</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>769577F3-91AF-49E8-921F-C2E84344E2A2</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>E3D54CC9-2C8D-4F82-88B1-57F3D21E1BAD</key>
		<dict>
			<key>ypos</key>
			<real>40</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://www.nicknish.co</string>
</dict>
</plist>
